<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id='logo'>

    </div>
    <div id='companyName'>

    </div>
    <div class="shopTable">
      <h1><%=list[0].shopName%></h1>
      <%for(var i=0; i<1; i++){%>
        <div class="shop">

          <h1><%=list[i].shopName%></h1>
          <%=list[i].shopDescription%>
        </div>
      <%}%>
    </div>

  </body>
</html>
