<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="login" action="/login" method="post">
      <label for="username">email id:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
